<!DOCTYPE html>
<html>
<head>
    <title>Crystal Ball Home</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to Crystal Ball</h1>
            <p class="lead">Ask your questions and get mystical answers.</p>
            <a class="btn btn-primary btn-lg" href="/ask" role="button">Go to Form</a>
        </div>
    </div>
</body>
</html>
